WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert/FRM_XianLuGuanLi_Insert1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_XianLuGuanLi_Insert" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLu_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Click_BaoCunXianLu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLu_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Click_BaoCunXianLuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLuMingXi_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Click_BaoCunXianLuMingXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLuMingXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Click_BaoCunXianLuMingXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunLinJu_InputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_ChaXunLinJu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunLinJu_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_ChaXunLinJuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_IDChaXunLinJu_InputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_IDChaXunLinJu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_IDChaXunLinJu_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnShengChengLuXian_Click_IDChaXunLinJuResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_XianLuGuanLi_Insert">
    <wsdl:operation name="FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi" message="tns:FRM_XianLuGuanLi_Insert_FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXiResponse" message="tns:FRM_XianLuGuanLi_Insert_FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXiResponse" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Click_BaoCunXianLu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLu" message="tns:FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLuResponse" message="tns:FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Click_BaoCunXianLuMingXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLuMingXi" message="tns:FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLuMingXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLuMingXiResponse" message="tns:FRM_XianLuGuanLi_Insert_btnBaoCunXianLu_Click_BaoCunXianLuMingXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_ChaXunLinJu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunLinJu" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunLinJu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunLinJuResponse" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_ChaXunLinJu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_IDChaXunLinJu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_IDChaXunLinJu" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_IDChaXunLinJu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_IDChaXunLinJuResponse" message="tns:FRM_XianLuGuanLi_Insert_btnShengChengLuXian_Click_IDChaXunLinJu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" type="tns:FRM_XianLuGuanLi_Insert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/FRM_XianLuGuanLi_Insert_Load_ChaXunWangDianXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunXiangLinWangDianXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Click_BaoCunXianLu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Click_BaoCunXianLuMingXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnBaoCunXianLu_Click_BaoCunXianLuMingXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_ChaXunLinJu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_ChaXunLinJu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnShengChengLuXian_Click_IDChaXunLinJu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Insert/btnShengChengLuXian_Click_IDChaXunLinJu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_XianLuGuanLi_Insert">
    <wsdl:port name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" binding="tns:BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert">
      <soap:address location="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>