WCF物流管理系统_Client/Service References/BLL物流管理系统.订单管理.DingDanGuanLi/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_DingDanGuanLi_Load_SelectZhuangTai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoMing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoMingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectHuoMingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectKeHu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectKeHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectKeHuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectAllDingDan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectAllDingDanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectAllDingDanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectDingDanByRiQi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kaishi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="jieshu" type="xs:dateTime" />
        <xs:element minOccurs="0" name="shenhefou" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectDingDanByRiQiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectDingDanByRiQiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectDingDanByHuoWuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="huowuid" type="xs:int" />
        <xs:element minOccurs="0" name="shenhefou" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectDingDanByHuoWuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectDingDanByHuoWuIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_SelectionChanged_SelectHuoYunDanMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HuoYunDanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_SelectionChanged_SelectHuoYunDanMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvHuoYunDan_SelectionChanged_SelectHuoYunDanMingXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoYunDanCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoYunDanCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectHuoYunDanCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoYunDanByFenYe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_DingDanGuanLi_Load_SelectHuoYunDanByFenYeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_DingDanGuanLi_Load_SelectHuoYunDanByFenYeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspBtnShanChuDingDan_Click_DeleteHuoYunDan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspBtnShanChuDingDan_Click_DeleteHuoYunDanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tspBtnShanChuDingDan_Click_DeleteHuoYunDanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspBtnShanChuDingDan_Click_DeleteHuoYunDanMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspBtnShanChuDingDan_Click_DeleteHuoYunDanMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tspBtnShanChuDingDan_Click_DeleteHuoYunDanMingXiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_CellClick_UpdateShenHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_CellClick_UpdateShenHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvHuoYunDan_CellClick_UpdateShenHeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_CellClick_InsertFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单明细ID" type="xs:int" />
        <xs:element minOccurs="0" name="分包数量" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvHuoYunDan_CellClick_InsertFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvHuoYunDan_CellClick_InsertFenBaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_WuLiuGenZhongXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="订单流水号" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_WuLiuGenZhongXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_WuLiuGenZhongXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>