WCF物流管理系统_Client/Service References/BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update/BLL物流管理系统43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FRM_QuanXianZu_Update_Load_ChaXunQuanXianZuMoKuai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="权限组ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_QuanXianZu_Update_Load_ChaXunQuanXianZuMoKuaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_QuanXianZu_Update_Load_ChaXunQuanXianZuMoKuaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_QuanXianZu_Update_btnQueDing_Click">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="模块ID" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="权限组名称" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="权限组ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_QuanXianZu_Update_btnQueDing_ClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_QuanXianZu_Update_btnQueDing_ClickResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>