WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_XianLuGuanLi_Update" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_XiuGaiXianLu_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Update_Click_XiuGaiXianLu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_XiuGaiXianLu_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCunXianLu_Update_Click_XiuGaiXianLuResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_XianLuGuanLi_Update">
    <wsdl:operation name="FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi" message="tns:FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXiResponse" message="tns:FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi" message="tns:FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXiResponse" message="tns:FRM_XianLuGuanLi_Update_FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi" message="tns:FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXiResponse" message="tns:FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Update_Click_XiuGaiXianLu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_XiuGaiXianLu" message="tns:FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_XiuGaiXianLu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_XiuGaiXianLuResponse" message="tns:FRM_XianLuGuanLi_Update_btnBaoCunXianLu_Update_Click_XiuGaiXianLu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" type="tns:FRM_XianLuGuanLi_Update">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Update/FRM_XianLuGuanLi_Update_Load_ChaXunXianLuMingXiXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_ShanChuXianLuMingXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCunXianLu_Update_Click_XiuGaiXianLu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_Update/btnBaoCunXianLu_Update_Click_XiuGaiXianLu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_XianLuGuanLi_Update">
    <wsdl:port name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" binding="tns:BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update">
      <soap:address location="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>