WCF物流管理系统_Client/Service References/BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_YongHuQuanXian_Update_ChaXunQuanXianZu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_YongHuQuanXian_Update_ChaXunQuanXianZuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_YongHuQuanXian_Update_ChaXunQuanXianZuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_YongHuQuanXian_Update_Load_ChaXunYuanGong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_YongHuQuanXian_Update_Load_ChaXunYuanGongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_YongHuQuanXian_Update_Load_ChaXunYuanGongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_YongHuQuanXian_Update_btnQueDing_Click">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="账号" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="密码" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="权限组ID" type="xs:int" />
        <xs:element minOccurs="0" name="员工ID" type="xs:int" />
        <xs:element minOccurs="0" name="用户ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_YongHuQuanXian_Update_btnQueDing_ClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_YongHuQuanXian_Update_btnQueDing_ClickResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>