WCF物流管理系统_Client/Service References/BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_PeiZaiFaHuoPeiZai_SelectPeiZaiFaHuoDanBYPeiZaiFaHuoDanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="配载发车单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_PeiZaiFaHuoPeiZai_SelectPeiZaiFaHuoDanBYPeiZaiFaHuoDanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_PeiZaiFaHuoPeiZai_SelectPeiZaiFaHuoDanBYPeiZaiFaHuoDanIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_PeiZaiFaHuoPeiZai_selectPeiZaiFaHuoDanMingXiByFaHuoDanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="配载发车单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_PeiZaiFaHuoPeiZai_selectPeiZaiFaHuoDanMingXiByFaHuoDanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_PeiZaiFaHuoPeiZai_selectPeiZaiFaHuoDanMingXiByFaHuoDanIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_SelectcboWiangDian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_SelectcboWiangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_SelectcboWiangDianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_SelectcboXianLu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_SelectcboXianLuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_SelectcboXianLuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_SelectSiJiBySiJiID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="司机ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_SelectSiJiBySiJiIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_SelectSiJiBySiJiIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_SelectcboCheLiang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="车辆ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_SelectcboCheLiangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_SelectcboCheLiangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_ConcelFenBaoSuoDing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="分包ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_ConcelFenBaoSuoDingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_ConcelFenBaoSuoDingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdateSiJiZhuangTaiBySiJiID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="司机ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdateSiJiZhuangTaiBySiJiIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_UpdateSiJiZhuangTaiBySiJiIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_UpdateSiJiZhuangTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="司机ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_UpdateSiJiZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_UpdateSiJiZhuangTaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdateCheLiangZhuangTaiByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="车辆ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdateCheLiangZhuangTaiByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_UpdateCheLiangZhuangTaiByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_UpdateCheLiangZhuangTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="车辆ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_UpdateCheLiangZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_UpdateCheLiangZhuangTaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdatePeiZaiFaCheDanByFaCheDanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="车辆ID" type="xs:int" />
        <xs:element minOccurs="0" name="司机ID" type="xs:int" />
        <xs:element minOccurs="0" name="发车网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="线路ID" type="xs:int" />
        <xs:element minOccurs="0" name="目的网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="接单时间" type="xs:dateTime" />
        <xs:element minOccurs="0" name="配载发车单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_UpdatePeiZaiFaCheDanByFaCheDanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_UpdatePeiZaiFaCheDanByFaCheDanIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_DeletePeiZaiMingXiByFenBaoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="分包ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Update_DeletePeiZaiMingXiByFenBaoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Update_DeletePeiZaiMingXiByFenBaoIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_InsertPeiZaiFaCheMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="配载发车单ID" type="xs:int" />
        <xs:element minOccurs="0" name="分包ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_Insert_InsertPeiZaiFaCheMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_Insert_InsertPeiZaiFaCheMingXiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cboFaHuoWangDian_SelectedIndexChanged_ChaXunLuXianLinJu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="开始网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="结束网点ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cboFaHuoWangDian_SelectedIndexChanged_ChaXunLuXianLinJuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cboFaHuoWangDian_SelectedIndexChanged_ChaXunLuXianLinJuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>