WCF物流管理系统_Client/Service References/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai/BLL物流管理系统31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="单据编号" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="寄件网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="收货网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="货物揽收状态ID" type="xs:int" />
        <xs:element minOccurs="0" name="起始时间" type="xs:dateTime" />
        <xs:element minOccurs="0" name="结束时间" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="分包ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFouResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>