WCF物流管理系统_Client/Service References/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai/PeiZaiFaHuo_ShiShiPeiZai1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeiZaiFaHuo_ShiShiPeiZai" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai_InputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTaiResponse" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian_InputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDianResponse" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao_InputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBaoResponse" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao_InputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBaoResponse" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou_InputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou" />
  </wsdl:message>
  <wsdl:message name="PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFouResponse" />
  </wsdl:message>
  <wsdl:portType name="PeiZaiFaHuo_ShiShiPeiZai">
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai">
      <wsdl:input wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTaiResponse" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian">
      <wsdl:input wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDianResponse" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao">
      <wsdl:input wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBaoResponse" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao">
      <wsdl:input wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBaoResponse" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou">
      <wsdl:input wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFouResponse" message="tns:PeiZaiFaHuo_ShiShiPeiZai_frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai" type="tns:PeiZaiFaHuo_ShiShiPeiZai">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai">
      <soap:operation soapAction="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboLanShouZhuangTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian">
      <soap:operation soapAction="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectcboWiangDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao">
      <soap:operation soapAction="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_LoadFenBao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao">
      <soap:operation soapAction="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_SelectPeiZaiFenBao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou">
      <soap:operation soapAction="http://tempuri.org/PeiZaiFaHuo_ShiShiPeiZai/frmPeiZaiFaHuo_ShiShiPeiZai_UpdateFenBaoSuoDingFou" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeiZaiFaHuo_ShiShiPeiZai">
    <wsdl:port name="BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai" binding="tns:BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai">
      <soap:address location="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>