WCF物流管理系统_Client/Service References/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi/BLL_FRM_SiJiGuanLi1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BLL_FRM_SiJiGuanLi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BLL_FRM_SiJiGuanLi_FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi" />
  </wsdl:message>
  <wsdl:message name="BLL_FRM_SiJiGuanLi_FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_SiJiGuanLi_Load_ChaXunSiJiXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="BLL_FRM_SiJiGuanLi_tsbShanChu_Delete_Click_ShanChu_InputMessage">
    <wsdl:part name="parameters" element="tns:tsbShanChu_Delete_Click_ShanChu" />
  </wsdl:message>
  <wsdl:message name="BLL_FRM_SiJiGuanLi_tsbShanChu_Delete_Click_ShanChu_OutputMessage">
    <wsdl:part name="parameters" element="tns:tsbShanChu_Delete_Click_ShanChuResponse" />
  </wsdl:message>
  <wsdl:portType name="BLL_FRM_SiJiGuanLi">
    <wsdl:operation name="FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/BLL_FRM_SiJiGuanLi/FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi" message="tns:BLL_FRM_SiJiGuanLi_FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BLL_FRM_SiJiGuanLi/FRM_SiJiGuanLi_Load_ChaXunSiJiXinXiResponse" message="tns:BLL_FRM_SiJiGuanLi_FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tsbShanChu_Delete_Click_ShanChu">
      <wsdl:input wsaw:Action="http://tempuri.org/BLL_FRM_SiJiGuanLi/tsbShanChu_Delete_Click_ShanChu" message="tns:BLL_FRM_SiJiGuanLi_tsbShanChu_Delete_Click_ShanChu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BLL_FRM_SiJiGuanLi/tsbShanChu_Delete_Click_ShanChuResponse" message="tns:BLL_FRM_SiJiGuanLi_tsbShanChu_Delete_Click_ShanChu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_BLL_FRM_SiJiGuanLi" type="tns:BLL_FRM_SiJiGuanLi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi">
      <soap:operation soapAction="http://tempuri.org/BLL_FRM_SiJiGuanLi/FRM_SiJiGuanLi_Load_ChaXunSiJiXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tsbShanChu_Delete_Click_ShanChu">
      <soap:operation soapAction="http://tempuri.org/BLL_FRM_SiJiGuanLi/tsbShanChu_Delete_Click_ShanChu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLL_FRM_SiJiGuanLi">
    <wsdl:port name="BasicHttpBinding_BLL_FRM_SiJiGuanLi" binding="tns:BasicHttpBinding_BLL_FRM_SiJiGuanLi">
      <soap:address location="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>