WCF物流管理系统_Client/Service References/BLL物流管理系统.Login/BLL物流管理系统1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="frmLogin_SelectYongHuMing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_SelectYongHuMingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmLogin_SelectYongHuMingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_JudgeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YongHuMing" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiMa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_JudgeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmLogin_JudgeLoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_SelectYongHuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YongHuMing" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiMa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_SelectYongHuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmLogin_SelectYongHuIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_SelectYuanGongByYongHuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="用户ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmLogin_SelectYuanGongByYongHuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmLogin_SelectYuanGongByYongHuIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaSongYouJian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaSongYouJianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>