WCF物流管理系统_Client/Service References/BLL物流管理系统.Login/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.Login.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.Login.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.Login.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Login_frmLogin_SelectYongHuMing_InputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYongHuMing" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_SelectYongHuMing_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYongHuMingResponse" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_JudgeLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_JudgeLogin" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_JudgeLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_JudgeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_SelectYongHuID_InputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYongHuID" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_SelectYongHuID_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYongHuIDResponse" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_SelectYuanGongByYongHuID_InputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYuanGongByYongHuID" />
  </wsdl:message>
  <wsdl:message name="Login_frmLogin_SelectYuanGongByYongHuID_OutputMessage">
    <wsdl:part name="parameters" element="tns:frmLogin_SelectYuanGongByYongHuIDResponse" />
  </wsdl:message>
  <wsdl:message name="Login_FaSongYouJian_InputMessage">
    <wsdl:part name="parameters" element="tns:FaSongYouJian" />
  </wsdl:message>
  <wsdl:message name="Login_FaSongYouJian_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaSongYouJianResponse" />
  </wsdl:message>
  <wsdl:portType name="Login">
    <wsdl:operation name="frmLogin_SelectYongHuMing">
      <wsdl:input wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYongHuMing" message="tns:Login_frmLogin_SelectYongHuMing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYongHuMingResponse" message="tns:Login_frmLogin_SelectYongHuMing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmLogin_JudgeLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Login/frmLogin_JudgeLogin" message="tns:Login_frmLogin_JudgeLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Login/frmLogin_JudgeLoginResponse" message="tns:Login_frmLogin_JudgeLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmLogin_SelectYongHuID">
      <wsdl:input wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYongHuID" message="tns:Login_frmLogin_SelectYongHuID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYongHuIDResponse" message="tns:Login_frmLogin_SelectYongHuID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="frmLogin_SelectYuanGongByYongHuID">
      <wsdl:input wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYuanGongByYongHuID" message="tns:Login_frmLogin_SelectYuanGongByYongHuID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Login/frmLogin_SelectYuanGongByYongHuIDResponse" message="tns:Login_frmLogin_SelectYuanGongByYongHuID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaSongYouJian">
      <wsdl:input wsaw:Action="http://tempuri.org/Login/FaSongYouJian" message="tns:Login_FaSongYouJian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Login/FaSongYouJianResponse" message="tns:Login_FaSongYouJian_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.Login" type="tns:Login">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="frmLogin_SelectYongHuMing">
      <soap:operation soapAction="http://tempuri.org/Login/frmLogin_SelectYongHuMing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmLogin_JudgeLogin">
      <soap:operation soapAction="http://tempuri.org/Login/frmLogin_JudgeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmLogin_SelectYongHuID">
      <soap:operation soapAction="http://tempuri.org/Login/frmLogin_SelectYongHuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frmLogin_SelectYuanGongByYongHuID">
      <soap:operation soapAction="http://tempuri.org/Login/frmLogin_SelectYuanGongByYongHuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaSongYouJian">
      <soap:operation soapAction="http://tempuri.org/Login/FaSongYouJian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BLL物流管理系统.Login" binding="tns:BLL物流管理系统.Login">
      <soap:address location="http://localhost:9998/BLL物流管理系统.Login.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>