WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi/BLL物流管理系统31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="线路名称" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_Load_ChaXunXianLuXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_XianLuGuanLi_Load_ChaXunXianLuXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="线路ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tsbShangChu_Delete_Click_ShanChuXianLu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="线路ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tsbShangChu_Delete_Click_ShanChuXianLuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tsbShangChu_Delete_Click_ShanChuXianLuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="线路名称" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="助记码" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>