WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi/FRM_XianLuGuanLi1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_XianLuGuanLi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_ChaXunXianLuXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_tsbShangChu_Delete_Click_ShanChuXianLu_InputMessage">
    <wsdl:part name="parameters" element="tns:tsbShangChu_Delete_Click_ShanChuXianLu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_tsbShangChu_Delete_Click_ShanChuXianLu_OutputMessage">
    <wsdl:part name="parameters" element="tns:tsbShangChu_Delete_Click_ShanChuXianLuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLuResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_XianLuGuanLi">
    <wsdl:operation name="FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunXianLuXinXiResponse" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi" message="tns:FRM_XianLuGuanLi_dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXiResponse" message="tns:FRM_XianLuGuanLi_dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLuResponse" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tsbShangChu_Delete_Click_ShanChuXianLu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/tsbShangChu_Delete_Click_ShanChuXianLu" message="tns:FRM_XianLuGuanLi_tsbShangChu_Delete_Click_ShanChuXianLu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/tsbShangChu_Delete_Click_ShanChuXianLuResponse" message="tns:FRM_XianLuGuanLi_tsbShangChu_Delete_Click_ShanChuXianLu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLuResponse" message="tns:FRM_XianLuGuanLi_FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" type="tns:FRM_XianLuGuanLi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunXianLuXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi/dgvXianLuXinXi_CellClick_ChaXunXianLuXiangXiXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_ChaXunQuanBuXianLu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tsbShangChu_Delete_Click_ShanChuXianLu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi/tsbShangChu_Delete_Click_ShanChuXianLu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi/FRM_XianLuGuanLi_Load_DuoTiaoJianChaXunXianLu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_XianLuGuanLi">
    <wsdl:port name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" binding="tns:BLL物流管理系统.线路管理.FRM_XianLuGuanLi">
      <soap:address location="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>