WCF物流管理系统_Client/Service References/BLL物流管理系统.出车登记.FRM_DaoDaDengJi/FRM_DaoDaDengJi1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_DaoDaDengJi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.出车登记.FRM_DaoDaDengJi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.出车登记.FRM_DaoDaDengJi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.出车登记.FRM_DaoDaDengJi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.出车登记.FRM_DaoDaDengJi.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_DaoDaDengJi_btnDaoDa_Click_ChaXunFaCheDian_InputMessage">
    <wsdl:part name="parameters" element="tns:btnDaoDa_Click_ChaXunFaCheDian" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_btnDaoDa_Click_ChaXunFaCheDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnDaoDa_Click_ChaXunFaCheDianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_btnDaoDa_Click_ChaRuGenZongBiao_InputMessage">
    <wsdl:part name="parameters" element="tns:btnDaoDa_Click_ChaRuGenZongBiao" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_btnDaoDa_Click_ChaRuGenZongBiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnDaoDa_Click_ChaRuGenZongBiaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_ShiJianDuanFaSongYouJian_InputMessage">
    <wsdl:part name="parameters" element="tns:ShiJianDuanFaSongYouJian" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_ShiJianDuanFaSongYouJian_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShiJianDuanFaSongYouJianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FaYouJianHouGengXinWuLiuGenZong_InputMessage">
    <wsdl:part name="parameters" element="tns:FaYouJianHouGengXinWuLiuGenZong" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FaYouJianHouGengXinWuLiuGenZong_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaYouJianHouGengXinWuLiuGenZongResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTaiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiangResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunWangDian_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunWangDian" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunWangDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunWangDianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunZhuangTai_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunZhuangTai" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunZhuangTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DaoDaDengJi_Load_ChaXunZhuangTaiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_pb_MouseClick_ChaXunMingXi_InputMessage">
    <wsdl:part name="parameters" element="tns:pb_MouseClick_ChaXunMingXi" />
  </wsdl:message>
  <wsdl:message name="FRM_DaoDaDengJi_pb_MouseClick_ChaXunMingXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:pb_MouseClick_ChaXunMingXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_DaoDaDengJi">
    <wsdl:operation name="btnDaoDa_Click_ChaXunFaCheDian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaXunFaCheDian" message="tns:FRM_DaoDaDengJi_btnDaoDa_Click_ChaXunFaCheDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaXunFaCheDianResponse" message="tns:FRM_DaoDaDengJi_btnDaoDa_Click_ChaXunFaCheDian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnDaoDa_Click_ChaRuGenZongBiao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaRuGenZongBiao" message="tns:FRM_DaoDaDengJi_btnDaoDa_Click_ChaRuGenZongBiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaRuGenZongBiaoResponse" message="tns:FRM_DaoDaDengJi_btnDaoDa_Click_ChaRuGenZongBiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShiJianDuanFaSongYouJian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/ShiJianDuanFaSongYouJian" message="tns:FRM_DaoDaDengJi_ShiJianDuanFaSongYouJian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/ShiJianDuanFaSongYouJianResponse" message="tns:FRM_DaoDaDengJi_ShiJianDuanFaSongYouJian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaYouJianHouGengXinWuLiuGenZong">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FaYouJianHouGengXinWuLiuGenZong" message="tns:FRM_DaoDaDengJi_FaYouJianHouGengXinWuLiuGenZong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FaYouJianHouGengXinWuLiuGenZongResponse" message="tns:FRM_DaoDaDengJi_FaYouJianHouGengXinWuLiuGenZong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTaiResponse" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiangResponse" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunWangDian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunWangDian" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunWangDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunWangDianResponse" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunWangDian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunZhuangTai">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunZhuangTai" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunZhuangTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunZhuangTaiResponse" message="tns:FRM_DaoDaDengJi_FRM_DaoDaDengJi_Load_ChaXunZhuangTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pb_MouseClick_ChaXunMingXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/pb_MouseClick_ChaXunMingXi" message="tns:FRM_DaoDaDengJi_pb_MouseClick_ChaXunMingXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DaoDaDengJi/pb_MouseClick_ChaXunMingXiResponse" message="tns:FRM_DaoDaDengJi_pb_MouseClick_ChaXunMingXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" type="tns:FRM_DaoDaDengJi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="btnDaoDa_Click_ChaXunFaCheDian">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaXunFaCheDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnDaoDa_Click_ChaRuGenZongBiao">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/btnDaoDa_Click_ChaRuGenZongBiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShiJianDuanFaSongYouJian">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/ShiJianDuanFaSongYouJian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaYouJianHouGengXinWuLiuGenZong">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/FaYouJianHouGengXinWuLiuGenZong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_IDChaXunCheLiangZhuangTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunQuanBuCheLiang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunWangDian">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunWangDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_DaoDaDengJi_Load_ChaXunZhuangTai">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/FRM_DaoDaDengJi_Load_ChaXunZhuangTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pb_MouseClick_ChaXunMingXi">
      <soap:operation soapAction="http://tempuri.org/FRM_DaoDaDengJi/pb_MouseClick_ChaXunMingXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_DaoDaDengJi">
    <wsdl:port name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" binding="tns:BLL物流管理系统.出车登记.FRM_DaoDaDengJi">
      <soap:address location="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E5%87%BA%E8%BD%A6%E7%99%BB%E8%AE%B0.FRM_DaoDaDengJi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>