WCF物流管理系统_Client/Service References/BLL物流管理系统.订单管理.DingDanGuanLi_Insert/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="frmDingDanGuanLi_Insert_SelectHuodanhao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectHuodanhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectHuodanhaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectWangDian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectWangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectWangDianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectYuanGong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectYuanGongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectYuanGongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectKeHu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="客户全称" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectKeHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectKeHuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectJiFeiGongShi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectJiFeiGongShiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectJiFeiGongShiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectJieSuanFangShi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectJieSuanFangShiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectJieSuanFangShiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectCboLanShouZhuangTai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectCboLanShouZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectCboLanShouZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectHuoWu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="frmDingDanGuanLi_Insert_SelectHuoWuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmDingDanGuanLi_Insert_SelectHuoWuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_InsertDanJu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="单据编号" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="接单时间" type="xs:dateTime" />
        <xs:element minOccurs="0" name="业务员_员工ID" type="xs:int" />
        <xs:element minOccurs="0" name="要求送达时间" type="xs:dateTime" />
        <xs:element minOccurs="0" name="托运方ID" type="xs:int" />
        <xs:element minOccurs="0" name="提单号" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="收货方ID" type="xs:int" />
        <xs:element minOccurs="0" name="寄件地址" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="收货地址" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="结算方式ID" type="xs:int" />
        <xs:element minOccurs="0" name="运费总价" type="xs:decimal" />
        <xs:element minOccurs="0" name="备注" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="制单人_员工ID" type="xs:int" />
        <xs:element minOccurs="0" name="修单人_员工ID" type="xs:int" />
        <xs:element minOccurs="0" name="寄件网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="收货网点ID" type="xs:int" />
        <xs:element minOccurs="0" name="货物揽收状态ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_InsertDanJuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Click_InsertDanJuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_InsertMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货物ID" type="xs:int" />
        <xs:element minOccurs="0" name="数量" type="xs:decimal" />
        <xs:element minOccurs="0" name="计费公式ID" type="xs:int" />
        <xs:element minOccurs="0" name="运费单价" type="xs:decimal" />
        <xs:element minOccurs="0" name="揽收否" type="xs:boolean" />
        <xs:element minOccurs="0" name="货运单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_InsertMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Click_InsertMingXiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_SelectZuiDaDanHao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Click_SelectZuiDaDanHaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Click_SelectZuiDaDanHaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>