WCF物流管理系统_Client/Service References/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao/FRM_DingDanBaoBiao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_DingDanBaoBiao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunDingDan_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DingDanBaoBiao_Load_ChaXunDingDan" />
  </wsdl:message>
  <wsdl:message name="FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunDingDan_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DingDanBaoBiao_Load_ChaXunDingDanResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunMingXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DingDanBaoBiao_Load_ChaXunMingXi" />
  </wsdl:message>
  <wsdl:message name="FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunMingXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_DingDanBaoBiao_Load_ChaXunMingXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_DingDanBaoBiao">
    <wsdl:operation name="FRM_DingDanBaoBiao_Load_ChaXunDingDan">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunDingDan" message="tns:FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunDingDan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunDingDanResponse" message="tns:FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunDingDan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_DingDanBaoBiao_Load_ChaXunMingXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunMingXi" message="tns:FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunMingXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunMingXiResponse" message="tns:FRM_DingDanBaoBiao_FRM_DingDanBaoBiao_Load_ChaXunMingXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" type="tns:FRM_DingDanBaoBiao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_DingDanBaoBiao_Load_ChaXunDingDan">
      <soap:operation soapAction="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunDingDan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_DingDanBaoBiao_Load_ChaXunMingXi">
      <soap:operation soapAction="http://tempuri.org/FRM_DingDanBaoBiao/FRM_DingDanBaoBiao_Load_ChaXunMingXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_DingDanBaoBiao">
    <wsdl:port name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" binding="tns:BLL物流管理系统.报表统计.FRM_DingDanBaoBiao">
      <soap:address location="http://localhost:9998/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>