WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert/FRM_XianLuGuanLi_WangDianGuanLi_Insert1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_XianLuGuanLi_WangDianGuanLi_Insert" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Click_ChaRuWangDianXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Click_ChaRuWangDianXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDianResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_XianLuGuanLi_WangDianGuanLi_Insert">
    <wsdl:operation name="btnBaoCun_Click_ChaRuWangDianXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXi" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXiResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXiResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDianResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert_btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert" type="tns:FRM_XianLuGuanLi_WangDianGuanLi_Insert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="btnBaoCun_Click_ChaRuWangDianXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/FRM_XianLuGuanLi_WangDianGuanLi_Insert_Load_ChaXunWangDianXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Insert/btnBaoCun_Click_ChaRuWangDianXinXi_ChaRuXiangLinWangDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_XianLuGuanLi_WangDianGuanLi_Insert">
    <wsdl:port name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert" binding="tns:BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert">
      <soap:address location="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>