WCF物流管理系统_Client/Service References/BLL物流管理系统.用户权限管理.BLL_QuanXianZu/BLL_QuanXianZu1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BLL_QuanXianZu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_Load_ChaXunQuanXianZu_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_Load_ChaXunQuanXianZu" />
  </wsdl:message>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_Load_ChaXunQuanXianZu_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_Load_ChaXunQuanXianZuResponse" />
  </wsdl:message>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai" />
  </wsdl:message>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuaiResponse" />
  </wsdl:message>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_btnDelQuanXianZu_Click_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_btnDelQuanXianZu_Click" />
  </wsdl:message>
  <wsdl:message name="BLL_QuanXianZu_FRM_QuanXianZu_btnDelQuanXianZu_Click_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_QuanXianZu_btnDelQuanXianZu_ClickResponse" />
  </wsdl:message>
  <wsdl:portType name="BLL_QuanXianZu">
    <wsdl:operation name="FRM_QuanXianZu_Load_ChaXunQuanXianZu">
      <wsdl:input wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_Load_ChaXunQuanXianZu" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_Load_ChaXunQuanXianZu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_Load_ChaXunQuanXianZuResponse" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_Load_ChaXunQuanXianZu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai">
      <wsdl:input wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuaiResponse" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_QuanXianZu_btnDelQuanXianZu_Click">
      <wsdl:input wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_btnDelQuanXianZu_Click" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_btnDelQuanXianZu_Click_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_btnDelQuanXianZu_ClickResponse" message="tns:BLL_QuanXianZu_FRM_QuanXianZu_btnDelQuanXianZu_Click_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_BLL_QuanXianZu" type="tns:BLL_QuanXianZu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_QuanXianZu_Load_ChaXunQuanXianZu">
      <soap:operation soapAction="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_Load_ChaXunQuanXianZu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai">
      <soap:operation soapAction="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_dgvAuthGroup_CellClick_ChaXunMoKuai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_QuanXianZu_btnDelQuanXianZu_Click">
      <soap:operation soapAction="http://tempuri.org/BLL_QuanXianZu/FRM_QuanXianZu_btnDelQuanXianZu_Click" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLL_QuanXianZu">
    <wsdl:port name="BasicHttpBinding_BLL_QuanXianZu" binding="tns:BasicHttpBinding_BLL_QuanXianZu">
      <soap:address location="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>