WCF物流管理系统_Client/Service References/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng/FRM_YuanGongGongZuoZheng1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_YuanGongGongZuoZheng" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_YuanGongGongZuoZheng_btnShangChuan_Click_UpdateYuanGong_InputMessage">
    <wsdl:part name="parameters" element="tns:btnShangChuan_Click_UpdateYuanGong" />
  </wsdl:message>
  <wsdl:message name="FRM_YuanGongGongZuoZheng_btnShangChuan_Click_UpdateYuanGong_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnShangChuan_Click_UpdateYuanGongResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_YuanGongGongZuoZheng_FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong" />
  </wsdl:message>
  <wsdl:message name="FRM_YuanGongGongZuoZheng_FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGongResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_YuanGongGongZuoZheng">
    <wsdl:operation name="btnShangChuan_Click_UpdateYuanGong">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_YuanGongGongZuoZheng/btnShangChuan_Click_UpdateYuanGong" message="tns:FRM_YuanGongGongZuoZheng_btnShangChuan_Click_UpdateYuanGong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_YuanGongGongZuoZheng/btnShangChuan_Click_UpdateYuanGongResponse" message="tns:FRM_YuanGongGongZuoZheng_btnShangChuan_Click_UpdateYuanGong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_YuanGongGongZuoZheng/FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong" message="tns:FRM_YuanGongGongZuoZheng_FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_YuanGongGongZuoZheng/FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGongResponse" message="tns:FRM_YuanGongGongZuoZheng_FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" type="tns:FRM_YuanGongGongZuoZheng">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="btnShangChuan_Click_UpdateYuanGong">
      <soap:operation soapAction="http://tempuri.org/FRM_YuanGongGongZuoZheng/btnShangChuan_Click_UpdateYuanGong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong">
      <soap:operation soapAction="http://tempuri.org/FRM_YuanGongGongZuoZheng/FRM_YuanGongGongZuoZhengDaYin_Load_ChaXunYuanGong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_YuanGongGongZuoZheng">
    <wsdl:port name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" binding="tns:BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng">
      <soap:address location="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>