WCF物流管理系统_Client/Service References/BLL物流管理系统.出车登记.FRM_ChuCheDengJi/BLL物流管理系统31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="myPictureBox_Click_ChaXunFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strChuCheID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myPictureBox_Click_ChaXunFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myPictureBox_Click_ChaXunFenBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunQuanBuCheLiang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunQuanBuCheLiangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_Load_ChaXunQuanBuCheLiangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunCheLiang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunCheLiangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_Load_ChaXunCheLiangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pb_MouseClick_ChaXunMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="配载发车单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pb_MouseClick_ChaXunMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pb_MouseClick_ChaXunMingXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunWangDian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunWangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_Load_ChaXunWangDianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunZhuangTai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_Load_ChaXunZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_Load_ChaXunZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_tsbChuChe_Click_UpdateChuChe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="车辆ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_tsbChuChe_Click_UpdateChuCheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_tsbChuChe_Click_UpdateChuCheResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_IDChaXunCheLiangZhuangTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCheLiangID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ChuCheDengJi_IDChaXunCheLiangZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ChuCheDengJi_IDChaXunCheLiangZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>