WCF物流管理系统_Client/Service References/BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_PeiZaiFaHuoFenBao_Update_Load_SelectDingDanMingXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="int货运单ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_PeiZaiFaHuoFenBao_Update_Load_SelectDingDanMingXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_PeiZaiFaHuoFenBao_Update_Load_SelectDingDanMingXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvMingXi_SelectionChanged_SelectFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单明细ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvMingXi_SelectionChanged_SelectFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvMingXi_SelectionChanged_SelectFenBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_DeleteOldFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单明细ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_DeleteOldFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Update_Click_DeleteOldFenBaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_InsertNewFenBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="货运单明细ID" type="xs:int" />
        <xs:element minOccurs="0" name="分包数量" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_InsertNewFenBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Update_Click_InsertNewFenBaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>