WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update/BLL物流管理系统31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_ShanChuXiangLinWangDian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_ShanChuXiangLinWangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Update_Click_ShanChuXiangLinWangDianResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_XiuGaiWangDian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点名称" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="停用否" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="网点ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBaoCun_Update_Click_XiuGaiWangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBaoCun_Update_Click_XiuGaiWangDianResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>