WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_XianLuGuanLi_WangDianGuanLi_Update" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_ShanChuXiangLinWangDian_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Update_Click_ShanChuXiangLinWangDian" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_ShanChuXiangLinWangDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Update_Click_ShanChuXiangLinWangDianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_XiuGaiWangDian_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Update_Click_XiuGaiWangDian" />
  </wsdl:message>
  <wsdl:message name="FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_XiuGaiWangDian_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Update_Click_XiuGaiWangDianResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_XianLuGuanLi_WangDianGuanLi_Update">
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXiResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLiResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Update_Click_ShanChuXiangLinWangDian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_ShanChuXiangLinWangDian" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_ShanChuXiangLinWangDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_ShanChuXiangLinWangDianResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_ShanChuXiangLinWangDian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Update_Click_XiuGaiWangDian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_XiuGaiWangDian" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_XiuGaiWangDian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_XiuGaiWangDianResponse" message="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update_btnBaoCun_Update_Click_XiuGaiWangDian_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update" type="tns:FRM_XianLuGuanLi_WangDianGuanLi_Update">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/FRM_XianLuGuanLi_WangDianGuanLi_Update_Load_ChaXunWangDianXinXi_JvLi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Update_Click_ShanChuXiangLinWangDian">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_ShanChuXiangLinWangDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Update_Click_XiuGaiWangDian">
      <soap:operation soapAction="http://tempuri.org/FRM_XianLuGuanLi_WangDianGuanLi_Update/btnBaoCun_Update_Click_XiuGaiWangDian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_XianLuGuanLi_WangDianGuanLi_Update">
    <wsdl:port name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update" binding="tns:BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update">
      <soap:address location="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>