WCF物流管理系统_Client/Service References/BLL物流管理系统.用户权限管理.BLL_authCheck/BLL物流管理系统2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BLL_authCheck_checkAuthByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="窗体名称" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="权限组ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLL_authCheck_checkAuthByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BLL_authCheck_checkAuthByTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>