WCF物流管理系统_Client/Service References/BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_CheLiangZhuangTai_Insert" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:9998/BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui" />
  </wsdl:message>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDuiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi" />
  </wsdl:message>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_btnBaoCun_Insert_Click_ChaRuCheLiang_InputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Insert_Click_ChaRuCheLiang" />
  </wsdl:message>
  <wsdl:message name="FRM_CheLiangZhuangTai_Insert_btnBaoCun_Insert_Click_ChaRuCheLiang_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnBaoCun_Insert_Click_ChaRuCheLiangResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_CheLiangZhuangTai_Insert">
    <wsdl:operation name="FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui" message="tns:FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDuiResponse" message="tns:FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi" message="tns:FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJiResponse" message="tns:FRM_CheLiangZhuangTai_Insert_FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Insert_Click_ChaRuCheLiang">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/btnBaoCun_Insert_Click_ChaRuCheLiang" message="tns:FRM_CheLiangZhuangTai_Insert_btnBaoCun_Insert_Click_ChaRuCheLiang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/btnBaoCun_Insert_Click_ChaRuCheLiangResponse" message="tns:FRM_CheLiangZhuangTai_Insert_btnBaoCun_Insert_Click_ChaRuCheLiang_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" type="tns:FRM_CheLiangZhuangTai_Insert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui">
      <soap:operation soapAction="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunCheDui" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi">
      <soap:operation soapAction="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/FRM_CheLiangZhuangTai_Insert_Load_ChaXunSiJi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnBaoCun_Insert_Click_ChaRuCheLiang">
      <soap:operation soapAction="http://tempuri.org/FRM_CheLiangZhuangTai_Insert/btnBaoCun_Insert_Click_ChaRuCheLiang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_CheLiangZhuangTai_Insert">
    <wsdl:port name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" binding="tns:BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert">
      <soap:address location="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%BD%A6%E8%BE%86%E7%8A%B6%E6%80%81.FRM_CheLiangZhuangTai_Insert.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>