WCF物流管理系统_Client/Service References/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi/BLL物流管理系统3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXiONZhuangTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="停用否" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXiONZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXiONZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点名称" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaXunWangDianXinXi_Click_ChaXunWangDianXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvWangDianXinXi_CellClick_ChaXunXiangLinWangDianXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dgvWangDianXinXi_CellClick_ChaXunXiangLinWangDianXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dgvWangDianXinXi_CellClick_ChaXunXiangLinWangDianXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tsbShanChu_Delete_Click_ShanChuWangDian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="网点ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tsbShanChu_Delete_Click_ShanChuWangDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tsbShanChu_Delete_Click_ShanChuWangDianResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>